			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
                    <li> <a href="/">Inicio</a> </li>
                    <li> <a href="/usuarios">Usuarios Registrados</a> </li>
                    <li> <a href="/itinerarios">Itinerarios de Viajes</a> </li>
                    <li> <a href="/incidentes">Incidentes</a> </li>
                    <li> <a href="/comisiones">Comisiones</a> </li>
                    <li> <a href="/admin">Administrador</a> </li>
					<li><a class="btn" href="/ingresar">SIGN IN / SIGN UP</a></li>
                    <li> <a href="/cerrar">Cerrar Sessión</a> </li>
				</ul>
			</div><!--/.nav-collapse -->
