{% extends "base.html" %}
{% block titulo %}{{titulo}}{% endblock titulo %}
{% block contenido %}
<ul>
    {% if comisiones %}
    {% for comision in comisiones %}
    <table class="table table-striped table-hover">
        <caption><h3>Central de Comisiones</h3></caption>
        <tr class="success">
            <th># de Comisión</th>
            <th>Pastor Viajero</th>
            <th>Motivo de Viaje</th>
            <th>Anfitrion</th>
            <th>Usuario Administrador</th>
            <th><a href="{% url 'viajes.views.editar_comision' comision.id %}"
                    ><button type="button" class="btn
                                btn-info"><span class="glyphicon
                                    glyphicon-text-height"></span> Editar</button></a>
            </th>
            <th> 
                <a href="{% url 'viajes.views.borrar_comision' comision.id %}">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</button></a>
            </th>
        </tr>
        <tr class="warning">
            <td>{{comision.id}}</td>
            <td>{{comision.pastor_viajero}}</td>
            <td>{{comision.motivo}}</td>
            <td>{{comision.anfitrion_recogedor}}</td>
            <td>{{comision.usuario}}</td>
        </tr>
    </table>
    {% endfor %}
    {% else %}
    <li>No hay comisiones</li>
    {% endif %}
    <div class="modal-footer">
        <div class="col-md-12"><a href="/comision/nueva">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-text-height"></span> Agregar Nueva Comision</button></a>
		</div>	
    </div>
    <div class="modal-footer">
        <div class="col-md-12"><a href="/">
        <button type="button" class="btn btn-info"><span class="glyphicon
                glyphicon-arrow-left"></span> Volver</button></a>
		</div>	
    </div>
{% endblock contenido %}


