{% extends "base.html" %}
{% block titulo %}{{titulo}}{% endblock %}
{% block contenido %}
<ul>
    {% if itinerarios %}
    {% for itinerario in itinerarios %}
    <article>
    <table class="table table-striped table-hover">
        <caption><h3>Itineario de Viaje</h3></caption>
        <tr class="success">
            <th># de Itineario</th>
            <th>Codigo de Reserva</th>
            <th>Hora de Partida</th>
            <th>Hora de Llegada</th> 
            <th>Punto de Origen</th> 
            <th>Punto de Llegada</th> 
            <th>RUC</th> 
            <th>Tipo de Transporte</th> 
            <th>Dia del Viaje</th> 
            <th>Mision</th> 
            <th>Comision</th> 
            <th>Registrado por</th> 
            <th><a href="{% url 'viajes.views.editar_itinerario' itinerario.id %}"
                    ><button type="button" class="btn
                                btn-info"><span class="glyphicon
                                    glyphicon-text-height"></span> Editar</button></a>
            </th>
            <th> 
                <a href="{% url 'viajes.views.borrar_itinerario' itinerario.id %}">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</button></a>
            </th>
        </tr>
        <tr class="warning">
            <td>{{itinerario.id}}</td>
            <td>{{itinerario.cod_reserva}}</td>
            <td>{{itinerario.hora_partida}}</td>
            <td>{{itinerario.hora_llegada}}</td>
            <td>{{itinerario.origen}}</td>
            <td>{{itinerario.destino}}</td>
            <td>{{itinerario.ruc}}</td>
            <td>{{itinerario.tipo_transporte}}</td>
            <td>{{itinerario.fecha}}</td>
            <td>{{itinerario.mision}}</td>
            <td>{{itinerario.comision}}</td>
            <td>{{itinerario.usuario}}</td>
        </tr>
    </table>
    </article>
    {% endfor %}
    {% else %}
       <li>Lo sentimos, no hay itinerarios</li>
    {% endif %}

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2"><a
                href="/itinerario/nuevo"><button type="submit" class="btn btn-success">Agregar Nuevo Itineario</button></a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2"><a href="/fecha">
                <button type="submit" class="btn btn-primary">Ver Itinerario de cualquier fecha</button></a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2"><a href="/">
                <button type="submit" class="btn btn-primary">Retornar</button></a>
        </div>
    </div>
</ul>

{% endblock %}
